body{
    background-color:#F5FDFA;
    margin:0;
    font-family: "Comic Sans MS";
    color:#F5FDFA;
    
}
* {
    box-sizing:border-box;
    transition:0.2s;
}
.title{
    text-align: center;
    background-color:lavenderblush;
    margin-top:0;
    padding:3em 0;
    background-image:url(jellyfish1.jpg);
    background-position: center;
    background-size:100% 100% ;
    color:#D53474;
    text-shadow:#F5FDFA 1px 1px 6px;
    text-shadow:#F5FDFA 1px 1px 1px, #F5FDFA -1px 1px 01px, #F5FDFA -1px -1px 01px, #F5FDFA 1px -1px 01px;
}
.navbar{
    display:flex;
    background-color: #D53474;
    text-align: center;
    box-shadow:0px 0px 4px #F5FDFA;
    position:sticky;
    top:0;
    width:100%;
    overflow-x:auto;
    
}
a {
    color:#ffed87;
}
a:hover {
    color:#ffe134;
}
.navBut{
    padding:25px;
    color:#F5FDFA;
    position: sticky;
    text-align: right;
    display: block;
    cursor:pointer;
    transition: 0.2s;
}
nav > a {
    text-decoration: none;
}
.navBut:hover{
    background-color: #ff4f95;
    color:#04AED6;
}
i {
    text-align:left;
    color:#F5FDFA;
    font-size: 40px;
    cursor:pointer;
    padding: 5px;
}
.mainInfo{
    text-align:center;
    display:block;
}
#contrastBut{
    display:block;
    text-align: left;
    position: relative;
    padding-top:12px;
    padding-left:20px;
    margin-right:auto;
}
.bubbleBox{
    background-color: hotpink;
    display:flex;
    margin:3em;
    padding:1.25em;
    border-radius:30px;

}
#welcome {
    width:75%;
    padding:0 2em;
}
nav {
    display:inline;
}
nav > li {
    display:inline;
}
img {
    border-radius:20px;
    
}
h2 {
    padding:0.5em 1.2em;
    background-color:#FCD7DE;
    color:#50121A;
    width:100%;
    Margin:0;
    border-radius:20px;
}
footer {
    width:100%;
    text-align:center;
    background-color:#D53474;
    color:#F5FDFA;
    padding:2em 0;
}
#darkMode > header > nav > i {
    color:#04AED6;
}
#darkMode > header > nav > a > div {
    color:#3A0519;
}
#darkMode {
    background-color:#3A0519;
}
#darkMode > header > nav > a > div:hover {
    color:#04AED6;
}
img {
    width:100%;
}
.works {
    padding-left:1em;
    order:1;
}
.workImg {
    width:25%;
}

@media only screen and (max-width:1080px) {
    .bubbleBox {
        display:block;
    }
    .bubbleBox > #welcome {
        width:100%;
        padding:0 0em;
    }
    img {
        max-width:100%;
        display:block;
        height:auto;
        margin:1em 0;
    }
    .works {
        padding:0;
        width:100%;
    }
    .workImg {
        width:100%;
    }
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
iframe {
    width:100%;
    height:50vw;
}
button {
    padding:1.25em;
    font-weight: bolder;
    color:#50121A;
    background-color:#FCD7DE;
    border:#3A0519 solid 2px;
    box-shadow:#50121A 1px 3px 5px;
    border-radius:10px;
}
button:hover {
    background-color: #fcb9cf;
    color:#ff4f95;
    border:#50121A solid 2px;
    transform: scale(1.01);
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

td{
    text-align:center;
}

#hidden{
    display:none;
}

.profilePic{
    max-width: 30%;
    height:auto;
}

img:hover {
    transform: scale(1.05);
    
}
